sudo: false
language: python
python:
    - "2.7"
    - "3.6"
install:
    - pip install -U pip
    - pip install -r requirements.txt 
    - pip install pytest pytest-cov pytest-xdist flake8 codecov unittest2
script:
    - make lint
    - make test
after_success:
    - codecov
notifications:
    irc: "chat.freenode.net#robottelo"
